<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vdoc</title>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div class="container" style="top: 20px;" id="app">
        
        
        <div class="page-header">
          <h1><small>VDoc</small> Get high quality video explanation</h1>
          
        </div>
        
        
        <ul class="list-group">
            <li v-for="(item, index) in items" :key="index" class="list-group-item">
                <a :href="item.body" target="_blank">{{item.body}}</a> by <a :href="item.html_url" target="_blank">{{item.user.login}}</a>
            </li>
            <li class="list-group-item">Got {{items.length}} video doc from contribulter
                <a :href="nvdoc" v-model="nvdoc" class="primary" @click="postVdoc">Submit New VDoc</a>
            </li>
        </ul>
        
        <!-- <form action="" method="POST" role="form">
            <legend>Submit Video Doc</legend>
        
            <div class="form-group">
                <input type="text" class="form-control" id="" v-model="url" readonly placeholder="Origin Doccument URL">
                <input type="text" class="form-control" id="" v-model="vurl" placeholder="Video URL">
            </div>
            <button type="button" class="btn btn-primary" @click="postVdoc">Submit</button>
        </form> -->
    </div>
    <script type="text/javascript">
        var vdocRepo = "https://api.github.com/repos/vdoc-online/buzz/issues";
        var submitRepo = "https://github.com/vdoc-online/buzz/issues/new?assignees=smarkm%2C+An-Haijun&template=submit-vdoc.md"
        var app = new Vue({
            el: '#app',
            data: {
                items:[],
                docDomain:"",
                title:"",
                vurl:"",
                nvdoc:""
            },
            methods:{
                postVdoc: function () {

                       

                        //  $.get(submitRepo,params,function (rs) {
                        //      console.log(rs)
                        //  })
                }
            }
        })
        $(function(params) {
            loadVdoc();
              
               var docDomain = app.docDomain;
               var title = app.title;
                app.nvdoc = submitRepo+"&labels=need+review,"+docDomain+"&title="+title;
                console.log(app.nvdoc,",",title)
        })
        function loadVdoc() {
            var url = getParameterByName("url");
            var lt = getLabelAndTitle(url)
            var label = lt[0];
            var title = lt[1];
            app.docDomain = label;
            app.title = title;
            console.log(label,title)
            var params = {labels:label+",golive",state:"closed"}
            $.get(vdocRepo,params,function (rs) {
                app.url = url;  
                app.items = rs;
                console.log(rs)
            })
        }
        function getLabelAndTitle(url) {
            urlTrim = url.replace("https://","").replace("http://","");
            var index = urlTrim.indexOf("/");
            var label = urlTrim.substr(0,index);
            var title = urlTrim.substr(index);
            return [label,title]
        }
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results == null ? "": decodeURIComponent(results[1]);
        }

    </script>
</body>
</html>